include requirements.txt
include LICENSE
include README.md
recursive-include fitlog/fastserver/static *
recursive-include fitlog/fastserver/templates *.html
include fitlog/fastserver/favicon.ico
prune tests/
recursive-include fitlog/fastgit/example/ *
graft fitlog/fastgit/normal