<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <link rel="shortcut icon" href="/chart.ico" >
    <title>chart-{{log_dir}}</title>
    <style>::-webkit-scrollbar{display:none;}html,body{overflow:auto;height:100%;margin:0;}</style>
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootbox.js"></script>
    <script>
        var prompt = function (message, time) {
            $("#alertDiv").delay(time || 5000).fadeOut();
            const id  = "alertDiv_" + new Date().getTime() + "_" + (Math.random() * 10000).toFixed();
            $("body").append(`
            <div id="${id}" class="alert alert-success" role="alert" style="position: fixed; top: 12px; left: 12px;z-index:999999">
                  ${message}
                </div>
            `);
            const $alertDiv = $("#" + id);
            $alertDiv.delay(time || 5000).fadeOut(() => {
                $alertDiv.remove();
            });
        };

        // 成功提示
        var success_prompt = function(message, time)
        {
            prompt(message, time);
        };

    </script>
<style>
    .g2-legend {
        width: 250px !important;
        height: 100%;
        font-size: 14px !important;
        color: #595959 !important;
    }

    .g2-legend-list {
        margin-top: 10px !important
    }

    .g2-legend-text {
        margin-top: 3px !important;
        color: rgb(140, 140, 140);
        display: inline-flex;
    }

</style>
</head>
<body>

<h3 style="text-align:center;visibility: hidden;padding: 3px 0px 3px 0px" id="loss_title">loss trend in {{log_dir}}</h3>
<div id="loss"></div>
<div id="prompt"></div>
<h3 style="text-align:center;visibility: hidden;padding: 3px 0px 3px 0px" id="metric_title">metric trend in {{log_dir}}</h3>
<div id="metric"></div>
<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="/static/js/g2.min.js"></script>

<script>
  var update_every=parseInt('{{update_every}}');
  var max_no_updates=parseInt('{{max_no_updates}}');
  var no_update_count = 0;
  var data_str ='{{data|tojson}}';
  var nan_detect = false;
  var data = JSON.parse(data_str);
  var max_steps = '{{max_steps}}';
  window.chart_uuid = '{{chart_uuid}}';
  window.server_uuid = '{{server_uuid}}';
  window.log_dir = '{{log_dir}}';
  var finish = 'finish' in data;

  function create_chart(container, data){
      document.getElementById(container + '_title').style.visibility = 'visible';
      var chart = new G2.Chart({
        container: container,
        forceFit: true,
        height: document.body.clientHeight*0.40,
        padding: [20, 210, 30, 50],
      });
      if(data.length>max_steps){
          data = data.slice(-max_steps);
      }
      chart.source(data, {
        step: {
          range: [0, 1]
        }
      });
      chart.tooltip({
        useHtml:true,
        crosshairs: {
          type: 'line'
        },
        showTitle:false
      });
      // 使得两组颜色不一样
      if(container==='loss'){
          chart.line().position('step*value').color('name', ['#ff4d4f', '#ff7a45', '#ffa940', '#facc14', '#bae637',
              '#73d13d', '#36cfc9', '#40a9ff']).shape('smooth');
          chart.point().position('step*value').color('name', ['#ff4d4f', '#ff7a45', '#ffa940', '#facc14', '#bae637',
              '#73d13d', '#36cfc9', '#40a9ff']).size(5).shape('circle').style({
            stroke: '#fff',
            lineWidth: 1
          }).tooltip('name*epoch*step*value');
      }else{
          chart.line().position('step*value').color('name');
          chart.point().position('step*value').color('name').size(5).shape('circle').style({
            stroke: '#fff',
            lineWidth: 1
          }).tooltip('name**epoch*step*value');
      }

      chart.axis('step', {

      });

      chart.legend({
        useHtml: true,
        position: 'right-center',
        reactive: true,
        legendStyle: {
          MARKER_CLASS: {
            width: '20px',
            height: '18px',
            lineHeight: '18px',
            borderRadius: '50px',
            display: 'inline-block',
            marginRight: '4px',
            textAlign: 'center',
            fontZize: '10px',
            marginTop: '3px',
            color: 'white',
            float: 'left',
            borderStyle: 'solid',
            borderWidth: '1px',
            borderColor: '#ccc'
          }
        },
        containerTpl: '<div class="g2-legend" style="font-weight: bold;font-size: 20px">Choose what to show' +
            '<div class="g2-legend-list"></div></div>',
      });
      chart.render();
      return chart;
    }
  var charts = {};

  var loss_data;
  var metric_data;

  if('loss' in data){
      loss_data = data['loss'];
      if(is_nan_inf(loss_data)){
          nan_detect = true;
      }else{
        charts['loss'] = create_chart('loss', loss_data);
      }
  }

  if('metric' in data){
      metric_data = data['metric'];
      if(is_nan_inf(metric_data)){
          nan_detect = true;
      }else{
        charts['metric'] = create_chart('metric', metric_data);
      }
  }

  if(!finish && !nan_detect){
      update_tmp = get_new_steps();
  }else{
      success_prompt("All data have been loaded.", 2000);
  }

  function get_new_steps(){
    var tmp = setInterval(function(){
        $.ajax({
            url: '/chart/new_step',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({
                 chart_uuid: window.chart_uuid
            }),
            success: function(value){
                value = value['steps'];
                for(var key in value){
                    if(key==='finish'){
                        finish = true;
                        continue;
                    }
                    if(!(key in data)){
                        data[key] = [];
                    }
                    var _steps = value[key];

                    if(_steps.length>0){
                        if(is_nan_inf(_steps)){
                            stop_interval(tmp);
                            nan_detect = true;
                        }else{
                            for(var index=0;index<_steps.length;index++){
                                data[key].push(_steps[index]);
                                if(data[key].length>max_steps){
                                    data[key].shift();
                                }
                                if(!(key in charts)){
                                    charts[key] = create_chart(key, data[key]);
                                }else{
                                    var _chart = charts[key];
                                    _chart.changeData(data[key]);
                                }
                            }
                        }
                    }
                }
                if(finish || nan_detect) {
                    stop_interval(tmp);
                }
                if(finish){
                    bootbox.alert("Finish accessing data.");
                }
                if(jQuery.isEmptyObject(value)){
                    no_update_count += 1;
                }else{
                    no_update_count = 0;
                }
                if(no_update_count>max_no_updates){
                    stop_interval(tmp);
                }
            },
            error: function(error){
                bootbox.alert("Some error happens, stop updating data.");
                stop_interval(tmp);
            }
        });
    }, update_every);
    return tmp;
}

function stop_interval(tmp) {
    clearInterval(tmp)
}

function is_nan_inf(data) {
    // [{}, {}]
    var nan = false;
    for(var index=0;index<data.length;index++){
        var value = data[index];
        if(value['value']==='Infinity' || value['value']==='NaN' || value['value']==='-Infinity'){
            var msg = "";
            msg += value['value'] + " encountered in `" + value['name'] + "` at step:" + value['step'];
            if('epoch' in value){
                msg += " at epoch:" + value['epoch'];
            }
            msg += '.';
            bootbox.alert(msg);
            nan = true;
            break;
        }
    }
    return nan;
}
</script>
</body>
</html>
